@use 'base/normalize.scss';
@use 'base/initial-reset.scss';
@use 'config/variables.scss';
@use 'mixins/responsive.scss';
@use 'mixins/fonts.scss';
@use 'blocks/titles.scss';
@use 'blocks/body.scss';
@use 'blocks/header.scss';
@use 'blocks/main.scss';
@use 'blocks/video.scss';
@use 'blocks/footer.scss';